<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catàleg de llibres de la biblioteca Armand Cardona</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 fs-1">Biblioteca Armand Cardona</span>
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{url_for('main_bp.mostrar_llibres')}}" class="nav-link">Llibres</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('main_bp.mostrar_usuaris')}}" class="nav-link">Usuaris</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('main_bp.mostrar_baixes')}}" class="nav-link">Baixes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Join</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mb-4 mt-4">
        {% if not llibres %}
        <h2>Actualment no hi han llibres en préstec</h2>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Autor</th>
                    <th scope="col">titol</th>
                    <th scope="col">Prestat</th>
                </tr>
            </thead>
            <tbody>
            {% for llibre in llibres %}
                <tr>
                    <th scope="row">{{llibre.id}}</th>
                    <td>{{llibre.autor}}</td>
                    <td>{{llibre.titol}}</td>
                    <td>
                        {{llibre.user_id}} - {{llibre.dni}} - {{llibre.cognoms}}, {{llibre.nom}} 
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {%endif%}
    </div>
</body>
</html>